
@font-face {
    font-family: "Playwrite";
    src: url(./PlaywriteHU-VariableFont_wght.ttf  );
}

body{
    background-color: turquoise;
    font-family: 'Segoe UI', sans-serif;
}

p{
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 100;
}

h1{
    font-family: "PlayWrite", sans-serif;
    font-size: 60px;
    font-weight: 600px;
}